<app-top-nav></app-top-nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 col-xl-11">
                <div class="container" style="background-color: white;">

                    <h1>Listado de Roles</h1>

                    <div class="btn-nuevo" style="text-align: right;">
                        <button class="btn btn-info" (click)="redirigirCrearRol()" type="button">Crear nuevo rol</button>
                    </div>
                
                    
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre del rol</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of roles">
                                <td>{{ role.descripcion }}</td>
                                <td>
                                    <button class="btn btn-primary" [routerLink]="['/rol',role.idRol]" >Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

