.container-fluid {
    background-color: #646060 !important; 
    height: 100% !important;
    width: 100%;
    padding: 0;
    padding-bottom: 50px;
    display: block;
} 

.contenedor{
    background-color: #646060 !important;
    
    padding-top: 20px;
    text-align: right;
    margin-bottom: auto;
}

.direccion{
    color: rgb(28, 128, 243);
    font-size: 15px;
    text-align: left;
}

.referencia{
    color: rgb(10, 121, 113);
    font-size: 15px;
    text-align: left;
}

.distrito{
    color: rgb(87, 111, 165);
    font-size: 15px;
    text-align: left;

}

.documento-celular{
    display: inline-flex;
}

.list-group-item{
    color: gray;
    font-size: 15px;
    text-align: left;
}