h3{
    margin-left: 20px;
}

.btn-primary{
    background-color: #e3672e;
    color: white;
    border:  #94847c 1px solid;
}

.btn-primary:hover{
    background-color: #9c9b9a;
    color: white;
    border:  #e3672e 1px solid;
}

.cabecera-compra .card{
    width: 100%;
    display: flex;
    background-color: #fcfbfb;
    color: #909094;
    
    border-radius: 5px;
}

.tabla-busqueda .card{
    width: 100%;
    display: flex;
    background-color: #fcfbfb;
    color: #909094;
    /* padding: 10px; */
    /* margin-bottom: 10px; */
    border-radius: 5px;
}

.nuevo-producto .card{
    width: 100%;
    display: flex;
    background-color: #fcfbfb;
    color: #909094;
    
    border-radius: 5px;
}

.totales .card{
    width: 100%;
    display: flex;
    /* background-color: #94847c; */
    background-color: #fcfbfb;
    color: #909094;
    
    border-radius: 5px;
}

.card{
    margin-bottom: 20px;
}

.tabla-detalle .card{
    width: 100%;
    display: flex;
    background-color: #fcfbfb;
    color: #909094;
    /* padding: 10px; */
    /* margin-bottom: 10px; */
    border-radius: 5px;
}