.btn-primary{
    background-color: #e3672e;
    color: white;
    border:  #94847c 1px solid;
}

.btn-primary:hover{
    background-color: #9c9b9a;
    color: white;
    border:  #e3672e 1px solid;
}



.btn-primary:active,
.btn-primary:focus {
    background-color: #9c9b9a; /* Color gris */
    color: white;
    border: #e3672e 1px solid;
    outline: none; /* Elimina el contorno que algunos navegadores agregan al hacer clic */
}