<p>update-rol works!</p>

<!-- FILEPATH: /c:/project15/adminAf/src/app/components/roles/update-rol/update-rol.component.html -->
<!-- BEGIN: abpxx6d04wxr -->
<div>
    <h1>Edit Role</h1>
    <form>
        <!-- Add your form fields here -->
        <label for="roleName" class="form-label">Role Name:</label>
        <input type="text" class="form-control" id="roleName" name="roleName" placeholder="Enter role name">
        

        <button type="submit" class="btn btn-success">Update Role</button>
    </form>
</div>
<!-- END: abpxx6d04wxr -->
