<app-top-nav></app-top-nav>
<div class="container" style="background-color: white; margin-top: 20px; margin-bottom: 20px;">
    <div class="card">
      <div class="card-header">
  
        <!-- Title -->
        <h4 class="card-header-title">
          Mostrando todos las sucursales
        </h4>
  
        <button class="btn btn-primary" [routerLink]="['/sucursal/create']" routerLinkActive="active"
                    style="text-align: right; margin-bottom: 20px;" disabled>crear nueva sucursal</button>
        <h6>Puede crear una nueva sucursal en editar empresa con permisos de administrador</h6>
      </div>
  
      <ng-container *ngIf="sucursales_const.length === 0">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-danger" role="alert">
              <div class="alert-text">
                <p>No tienes sucursales registradas</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="sucursales_const.length > 0">
        <table class="table">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Registro</th>
                  <th>Estado</th>
                  <th>Acción</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of sucursales_const">
                  <td> {{item.nombre}} </td>
                  <td>{{item.direccion }}</td>
                  <td>{{item.fregistro}} </td>
                  <td>
                    <span  class="badge bg-success" *ngIf="item.estado">Activo</span>
                    <span  class="badge bg-danger" *ngIf="!item.estado">Inactivo</span>
                  </td>
                  <td>
                      <!-- <button *ngIf="!item.estado" class="btn btn-success" >Activar</button>
                      <button *ngIf="item.estado" class="btn btn-danger" >Desactivar</button>
                      <button class="btn btn-primary" [routerLink]="['/sucursal',item.idSucursal]" >Edit</button> -->

                      <!-- Example single danger button -->
                    <!-- <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opciones
                      </button>
                      <ul class="dropdown-menu">
                        <a style="cursor: pointer;" class="dropdown-item" *ngIf="item.estado" data-bs-toggle="modal"
                          [attr.data-bs-target]="'#update-'+item.idSucursal">
                          <i class="icon-1x text-dark-50 flaticon2-cross"></i> &nbsp; Desactivar
                        </a>
                        <a style="cursor: pointer;" class="dropdown-item" *ngIf="!item.estado" data-bs-toggle="modal"
                          [attr.data-bs-target]="'#update-'+item.idSucursal">
                          <i class="icon-1x text-dark-50 flaticon2-check-mark"></i> &nbsp; Activar
                        </a>
                        <a class="dropdown-item" [routerLink]="['/sucursal',item.idSucursal]">
                          <i class="icon-1x text-dark-50 flaticon-edit"></i> &nbsp; Editar
                        </a>
                      </ul>
                    </div> -->

                    <div class="dropdown" ngbDropdown>
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false" ngbDropdownToggle>
                        OPciones
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                        <li *ngIf="item.estado">
                          <a style="cursor: pointer;" class="dropdown-item" data-bs-toggle="modal" [attr.data-bs-target]="'#update-'+item.idSucursal">
                            <i class="icon-1x text-dark-50 flaticon2-cross"></i> &nbsp; Desactivar
                          </a>
                        </li>
                        <li *ngIf="!item.estado">
                          <a style="cursor: pointer;" class="dropdown-item" data-bs-toggle="modal" [attr.data-bs-target]="'#update-'+item.idSucursal">
                            <i class="icon-1x text-dark-50 flaticon2-check-mark"></i> &nbsp; Activar
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['/sucursal', item.idSucursal]">
                            <i class="icon-1x text-dark-50 flaticon-edit"></i> &nbsp; Editar
                          </a>
                        </li>
                      </ul>
                    </div>



                    <div class="modal fade" id="update-{{item.idSucursal}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Cambio de estado de la sucursal: {{item.nombre}}</h5>
                                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                      <i aria-hidden="true" class="ki ki-close"></i>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <p>Está seguro que desea cambiar el estado la sucursal?.</p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-warning font-weight-bold" data-bs-dismiss="modal">Cerrar</button>
                                  <button *ngIf="!load_estado" type="button" class="btn btn-danger font-weight-bold" (click)="actualizarEstado(item.idSucursal,item.estado)" data-bs-dismiss="modal">Sí, Cambiar</button>
                  
                                  <button *ngIf="load_estado" class="btn btn-danger" type="button" disabled>
                                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                      Cambiando...
                                  </button>
                              </div>
                          </div>
                      </div>
                    </div>

                  </td>
                  
              </tr>
          </tbody>
      </table>
      </ng-container>
    </div>
</div>
