
*{
    padding: 0;
    margin: 0;
}

.container-fluid {
    
    background-image: url('src/assets/construccion.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
}
  

.container-fluid {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}



.form-signin0 {
    width: 450px;
    
    min-width: 90%; /* Cambia el ancho al 90% del contenedor */
    max-width: 550px; /* Aumenta el máximo ancho a 450px */
    padding: 15px; /* Ajusta el padding para más espacio interior */
    margin: auto; /* Simplifica las declaraciones de margen */
    color: #909094;
    text-align: center;
    border-radius: 15px !important; /* Hace los bordes más redondeados */
    border: 2px solid #7d7e81 !important; /* Hace el borde más grueso y sólido */
    background-color: rgba(227,103,46,0.90) !important; /* Hace el fondo ligeramente más opaco */
    
}

.form-signin {
    width: 100%; /* Cambia el ancho al 90% del contenedor */
    max-width: 550px !important; /* Aumenta el máximo ancho a 550px */
    padding: 20px; /* Aumenta el padding para más espacio interior */
    margin: auto; /* Simplifica las declaraciones de margen */
    border-radius: 15px !important; /* Hace los bordes más redondeados */
    /* Personalizaciones adicionales */
    background-color: #ffffff; /* Cambia el color de fondo a blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra alrededor del formulario */
}


/*desseo que el .container-fluid se ubique en el centro de la pantalla*/
/* .container-fluid {
    display: flex;
    
    justify-content: center; 
    align-items: center;
    height: 100vh;
}


.form-signin0 {
  
    width: 100% ;
    max-width: 400px;
    padding: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: #2626b9;
    text-align: center;

    border-radius: 10px !important;
    border: 0.1px solid #012ffa57 !important;
    background-color:  rgba(227,103,46,0.80) !important;
    
}

.form-signin {
    
    width: 100%;
    max-width: 500px !important;
    padding: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    border-radius: 10px !important;
    
} */



.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}



/* @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;

    }
} */

.btn-primary{
    background-color: #7a7978;
    color: white;
    border:  #b6b3b3 1px solid;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.btn-primary:hover{
    background-color: #9c9b9a;
    color: white;
    border:  #e3672e 1px solid;
}


.form-floating label{
    color: #8b8a89 !important;
}

h1{
    color: #252525 !important;
}