<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-5" >
            <div class="form-signin0" >
                <main class="form-signin" >
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" style="text-align: center !important;">
                        <img class="mb-4" src="assets/logos/login.png" alt="" width="200" height="200"
                            style="text-align: center;">
                        <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>

                        <div class="form-floating" style="margin-bottom: 10px;">
                            <input type="text" class="form-control" name="ruc" [(ngModel)]="user.ruc"
                                placeholder="Ingrese el ruc de la empresa" required>
                            <label for="floatingInput">Ruc empresa</label>
                        </div>
                        <div class="form-floating">
                            <input type="email" class="form-control" name="email" [(ngModel)]="user.email"
                                placeholder="Correo electrónico" required>
                            <label for="floatingInput">Correo electrónico</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" name="password" [(ngModel)]="user.password"
                                placeholder="Tú contraseña" required>
                            <label for="floatingPassword">Contraseña</label>
                        </div>

                        <div class="checkbox mb-3" >
                            <label>
                                <input type="checkbox" value="remember-me"> Recordarme
                            </label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit"
                            style="margin-bottom: 15px;">Ingresar</button>
                        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2023</p> -->
                    </form>


                </main>
            </div>
        </div>
    </div>
</div>