
*{
    padding: 0;
    margin: 0;
}

.container-fluid {
    /* Asegúrate de reemplazar 'ruta/a/tu/imagen.jpg' con la ruta a tu imagen de fondo */
    background-image: url('src/assets/construccion.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
  

body {
    height: 100%;

}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

/* .container-fluid {
    background-color: gray !important;
    height: 100%;
    padding: 0;
    
} */

.form-signin0 {
    width: 100%;
    max-width: 400px;
    padding: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: #bcbcc4;

    border-radius: 10px !important;
    border: 0.1px solid #012ffa57 !important;
    background-color:  rgba(227,103,46,0.80) !important;
    /* background-color:  #e3672e !important; */
}
.form-signin {
    width: 100%;
    max-width: 350px;
    padding: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    border-radius: 10px !important;
    /* background-color: rgba(128, 128, 128, 0.589) !important; */
}

/* .form{
  background-color: #646060 !important;
  border-radius: 10px !important;
  text-align: center;
} */

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

/* .mb-4 {
    margin-bottom: 1.5rem !important;
    background-color: #646060 !important;
    border-radius: 10px !important;
} */

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;

    }
}

.btn-primary{
    background-color: #7a7978;
    color: white;
    border:  #b6b3b3 1px solid;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.btn-primary:hover{
    background-color: #9c9b9a;
    color: white;
    border:  #e3672e 1px solid;
}


.form-floating label{
    color: #8b8a89 !important;
}

h1{
    color: #252525 !important;
}