/* .cabecera-compras{
    display: inline-flex;
    width: 100%;
} */


/* .cabecera-compra .card{
    width: 45%;
    height: 450px;
    display: flex;
    background-color: #1b5e20;
    color: white;
   
    border-radius: 5px;
} */

.tabla-busqueda .card{
    width: 100%;
    display: flex;
    background-color: #1b5e20;
    color: white;
    /* padding: 10px; */
    /* margin-bottom: 10px; */
    border-radius: 5px;
}

.card{
    margin-bottom: 20px;
}


/* label {
    
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
} */
/* 
@media screen and (max-width: 768px) {
    .cabecera-compras{
        display: flex;
        width: 100%;
    }
    .cabecera-compra .card {
        width: 100%;
    }

    
}

@media screen and (min-width: 769px) {
    .cabecera-compra .card {
        display: inline-block;
        width: 40%;
        margin-right: 10px;
    } */

