<p>create-compras works!</p>
<!-- crea aqui el html para registrar las compras de los productos, haz uso de los componentes de bootstrap para el formulario (compCompra, idComprobante, serie, numero, fEmision, fVencimiento, idProveedor, idMoneda, idEstadoPago, subTotal, igv, exonerado, gratuito, otrosCargos, descuentos, total, idMediosPago, compRelacionado, idUsuario) y la tabla de compras (idSucursal, idcompra,  Cantidad, idproducto, idPresentacion, pUnitario,total, idUsuario).-->

<div class="container" style="background-color: rgb(221, 218, 218);">
    <h1>Registrar Compras</h1>


    <div class="cabecera-compra">
        <div class="card">

            <div class="card-body">
                <div class="cabecera">
                    <div class="row form-group">
                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div>
                                <label style="width: 300px;">Comprobante</label>
                                <div class="col-lg-9 col-xl-9">
                                    <select required name="idComprobante" [(ngModel)]="compras.idComprobante"
                                        class="form-control">
                                        <option value="" selected disabled>Seleccionar...</option>
                                        <option *ngFor="let item of comprobantes" [value]="item.idComprobante">{{
                                            item.nombre }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div>
                                <label for="compCompra">CompCompra</label>
                                <input type="text" class="form-control" id="compCompra"
                                    placeholder="Ingrese el compCompra">
                            </div>

                            <div>
                                <label for="serie">Serie</label>
                                <input type="text" class="form-control" id="serie" placeholder="Ingrese la serie">
                            </div>

                            <div>
                                <label for="numero">Numero</label>
                                <input type="text" class="form-control" id="numero" placeholder="Ingrese el numero">
                            </div>

                            <div>

                                <label for="ruc">Número de documento</label>
                                <input type="text" class="form-control form-control-appended"
                                    placeholder="ingrese RUC o DNI" name="ruc" [(ngModel)]="clientes.ruc">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="buscar()">
                                        Buscar
                                    </button>
                                    <button class="btn btn-primary" [routerLink]="['/cliente/create']"
                                        routerLinkActive="active" style="margin-left: 10px;">
                                        Nuevo
                                    </button>
                                </div>
                            </div>

                            <div>
                                <label for="idProveedor">Proveedor: {{clientes.rSocial}}</label>

                            </div>

                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div>
                                <label for="fEmision">Fecha de Emisión</label>
                                <input type="date" class="form-control" id="fEmision">
                            </div>

                            <div>
                                <label for="fVencimiento">Fecha de Vencimiento</label>
                                <input type="date" class="form-control" id="fVencimiento">
                            </div>

                            <div>
                                <div>
                                    <label style="width: 300px;">Moneda</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select required name="idMoneda" [(ngModel)]="compras.idMoneda"
                                            class="form-control">
                                            <option value="" selected disabled>Seleccionar...</option>
                                            <option *ngFor="let item of moneda" [value]="item.idMoneda">{{
                                                item.descripcion }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group -row">
                                    <label style="width: 300px;">Estado de pago</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select required name="idEstadoPago" [(ngModel)]="compras.idEstadoPago"
                                            class="form-control">
                                            <option value="" selected disabled>Seleccionar...</option>
                                            <option *ngFor="let item of estadoPago" [value]="item.idEstadoPago">{{
                                                item.descripcion }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div>

                                <label style="width: 300px;">Medios de pago</label>
                                <div class="col-lg-9 col-xl-9">
                                    <select required name="idMediosPago" [(ngModel)]="compras.idMediosPago"
                                        class="form-control">
                                        <option value="" selected disabled>Seleccionar...</option>
                                        <option *ngFor="let item of mediosPago" [value]="item.idMediosPago">{{
                                            item.descripcion }}
                                        </option>
                                    </select>
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="compRelacionado">CompRelacionado</label>
                                <input type="text" class="form-control" id="compRelacionado"
                                    placeholder="Ingrese el compRelacionado">
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="fEmision">Fecha de Emisión</label>
                    <input type="date" class="form-control" id="fEmision">
                </div>

                <div class="form-group">
                    <label for="fVencimiento">Fecha de Vencimiento</label>
                    <input type="date" class="form-control" id="fVencimiento">
                </div>

                <div class="form-group">
                    <div class="form-group -row">
                        <label class="col-xl-3 col-lg-3 col-form-label" style="width: 300px;">Moneda</label>
                        <div class="col-lg-9 col-xl-9">
                            <select required name="idMoneda" [(ngModel)]="compras.idMoneda" class="form-control">
                                <option value="" selected disabled>Seleccionar...</option>
                                <option *ngFor="let item of moneda" [value]="item.idMoneda">{{
                                    item.descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group -row">
                        <label class="col-xl-3 col-lg-3 col-form-label" style="width: 300px;">Estado de pago</label>
                        <div class="col-lg-9 col-xl-9">
                            <select required name="idEstadoPago" [(ngModel)]="compras.idEstadoPago"
                                class="form-control">
                                <option value="" selected disabled>Seleccionar...</option>
                                <option *ngFor="let item of estadoPago" [value]="item.idEstadoPago">{{
                                    item.descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group -row">
                        <label class="col-xl-3 col-lg-3 col-form-label" style="width: 300px;">Medios de pago</label>
                        <div class="col-lg-9 col-xl-9">
                            <select required name="idMediosPago" [(ngModel)]="compras.idMediosPago"
                                class="form-control">
                                <option value="" selected disabled>Seleccionar...</option>
                                <option *ngFor="let item of mediosPago" [value]="item.idMediosPago">{{
                                    item.descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="compRelacionado">CompRelacionado</label>
                    <input type="text" class="form-control" id="compRelacionado"
                        placeholder="Ingrese el compRelacionado">
                </div>
            </div>
        </div> -->
    </div>
    <div class="tabla-busqueda">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <div style="display: flex;">
                    <!-- crear aqui el html para (idProducto, idEmpresa, Codigo, idCategoria, descripcion, idPresentacion, cUnitario, fProduccion, fVencimiento, alertaMinimo, alertaMaximo, VecesVendidas, facturar, idUsuario, FIngreso) -->
                    <div class="input-group input-group-merge" style="width: 350px; margin-right: 20px;">
                        <input type="text" class="form-control form-control-appended" placeholder="Buscar por código"
                            name="filtroCodigo">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="buscarCodigo()">
                                Buscar
                            </button>
                        </div>
                    </div>
                    <div class="input-group input-group-merge">
                        <input type="text" class="form-control form-control-appended"
                            placeholder="Buscar por descripción" name="filtroDescripcion">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="buscarDescripcion()">
                                Buscar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="busqueda">

                    <!-- crear aqui el html usando bootstrap para una tabla de busqueda de productos (codigo, categoria, poducto, idPresentacion, cantidad, fproduccion, fvencimiento ,pUnitario,sucursal) -->
                    <div class="table-responsive" style="background: white;">
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Categoría</th>
                                    <th>Producto</th>
                                    <th>Id Presentación</th>
                                    <th>Cantidad</th>
                                    <th>Fecha de Producción</th>
                                    <th>Fecha de Vencimiento</th>
                                    <th>Precio Unitario</th>
                                    <th>Sucursal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Add table rows here -->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="nuevo-producto">
        <!-- crear aqui el html para (idProducto, idEmpresa, Codigo, idCategoria, descripcion, idPresentacion, cUnitario, fProduccion, fVencimiento, alertaMinimo, alertaMaximo, VecesVendidas, facturar, idUsuario, FIngreso) -->
        <div class="card">
            <div class="card-body">
                <!-- <div class="row form-group">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label for="idProducto">Id Producto</label>
                        <input type="text" class="form-control" id="idProducto" name="idProducto">
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label for="idEmpresa">Id Empresa</label>
                        <input type="text" class="form-control" id="idEmpresa" name="idEmpresa">
                    </div>
                </div> -->

                <div class="row form-group">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label for="Codigo">Código</label>
                        <input type="text" class="form-control" id="Codigo" name="Codigo">
                    </div>


                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label style="width: 300px;">Categoría</label>
                        <div class="col-lg-9 col-xl-9">
                            <select required name="idCategoria" [(ngModel)]="compras.idCategoria" class="form-control">
                                <option value="" selected disabled>Seleccionar...</option>
                                <option *ngFor="let item of categoria" [value]="item.idCategoria">{{
                                    item.Descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label for="descripcion">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion">
                    </div>


                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label style="width: 300px;">Presentación</label>
                        <div class="col-lg-9 col-xl-9">
                            <select required name="idPresentacion" [(ngModel)]="compras.idPresentacion"
                                class="form-control">
                                <option value="" selected disabled>Seleccionar...</option>
                                <option *ngFor="let item of presentacion" [value]="item.idPresentacion">{{
                                    item.Descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label for="cUnitario">Precio Unitario</label>
                        <input type="text" class="form-control" id="cUnitario" name="cUnitario">
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label for="cantidad">Cantidad</label>
                        <input type="text" class="form-control" name="cantidad">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label for="fProduccion">Fecha de Producción</label>
                        <input type="date" class="form-control" id="fProduccion" name="fProduccion">
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label for="fVencimiento">Fecha de Vencimiento</label>
                        <input type="date" class="form-control" id="fVencimiento" name="fVencimiento">
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <label style="width: 300px;">Sucursal</label>
                        <div class="col-lg-9 col-xl-9">
                            <select required name="idSucursal" [(ngModel)]="compras.idSucursal" class="form-control">
                                <option value="" selected disabled>Seleccionar...</option>
                                <option *ngFor="let item of sucursales" [value]="item.idSucursal">{{
                                    item.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <button type="button" class="btn btn-primary">Agregar</button>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="tabla-detalle">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Categoría</th>
                                <th>Producto</th>
                                <th>Id Presentación</th>
                                <th>Cantidad</th>
                                <th>Fecha de Producción</th>
                                <th>Fecha de Vencimiento</th>
                                <th>Precio Unitario</th>
                                <th>Sucursal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of detalleCompras; let idx = index">
                                <th scope="row">{{item.titulo_producto}}</th>
                                <td>{{item.titulo_variedad}}</td>
                                <td>{{item.precio_und}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>{{item.subtotal}}</td>
                                <td>
                                    <a style="cursor: pointer;" class="text-danger"
                                        (click)="quitar(idx,item.subtotal)">[Delete]</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5"><b>Total</b></td>
                                <td>{{compras.total}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- <table class="table mt-4">
            <thead>
                <tr>
                    <th>IdSucursal</th>
                    <th>IdCompra</th>
                    <th>Cantidad</th>
                    <th>IdProducto</th>
                    <th>IdPresentacion</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                    <th>IdUsuario</th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table> -->


    <div class="totales">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div>
                            <label for="igv">IGV</label>
                            <input type="number" class="form-control" id="igv" placeholder="Ingrese el IGV">
                        </div>
    
                        <div>
                            <label for="exonerado">Exonerado</label>
                            <input type="number" class="form-control" id="exonerado" placeholder="Ingrese el exonerado">
                        </div>
    
                        <div>
                            <label for="gratuito">Gratuito</label>
                            <input type="number" class="form-control" id="gratuito" placeholder="Ingrese el gratuito">
                        </div>
    
                        <div>
                            <label for="otrosCargos">Otros Cargos</label>
                            <input type="number" class="form-control" id="otrosCargos"
                                placeholder="Ingrese los otros cargos">
                        </div>

                    </div>

                    <div class="col-sm-6 col-lg-6 col-md-6">

                        <div>
                            <label for="subTotal">SubTotal</label>
                            <input type="number" class="form-control" id="subTotal" placeholder="Ingrese el subTotal">
                        </div>
                        <div>
                            <label for="descuentos">Descuentos</label>
                            <input type="number" class="form-control" id="descuentos" placeholder="Ingrese los descuentos">
                        </div>
    
                        <div>
                            <label for="total">Total</label>
                            <input type="number" class="form-control" id="total" placeholder="Ingrese el total">
                        </div>
                        <div>
                            <div class="col-4">
                                <label for="validationCustom01" class="form-label"><b>Total a pagar: (*)</b></label>
            
                            </div>
                        </div>
                    </div>

                    
                    
                </div>

            </div>

        </div>
    </div>

   


    <button type="submit" class="btn btn-primary">Registrar Compra</button>



</div>