<p>create-compras works!</p>
<!-- crea aqui el html para registrar las compras de los productos, haz uso de los componentes de bootstrap para el formulario (compCompra, idComprobante, serie, numero, fEmision, fVencimiento, idProveedor, idMoneda, idEstadoPago, subTotal, igv, exonerado, gratuito, otrosCargos, descuentos, total, idMediosPago, compRelacionado, idUsuario) y la tabla de compras (idSucursal, idcompra,  Cantidad, idproducto, idPresentacion, pUnitario,total, idUsuario).-->

<div class="container" style="background-color: rgb(221, 218, 218);">
    <h1>Registrar Compras</h1>


    <div class="cabecera-compra">
        <div class="card">

            <div class="card-body">
                <div class="cabecera">
                    <div class="row form-group">
                        <hr>
                        <!-- buscador dni/ruc -->
                        <div style="margin-bottom: 20px;">

                            <label for="ruc">Número de documento</label>
                            <div class="input-group-append" style="display: flex;">
                                <input type="text" class="form-control form-control-appended"
                                    placeholder="ingrese RUC o DNI" name="ruc" [(ngModel)]="compras.ruc"
                                    style="width: 40%;">

                                <button class="btn btn-primary" (click)="buscar()">
                                    Buscar
                                </button>
                                <button class="btn btn-primary" [routerLink]="['/cliente/create']"
                                    routerLinkActive="active" style="margin-left: 10px;">
                                    Nuevo
                                </button>

                            </div>
                            <div>
                                <label for="idProveedor">Proveedor: {{clientes.rSocial}}</label>

                            </div>
                        </div>
                        

                        <!-- fin buscador dni/ruc -->
                        <hr />

                        <div class="col-sm-6 col-lg-3 col-md-6">
                            <div>
                                <label style="width: 300px;">Comprobante</label>
                                <div class="col-lg-9 col-xl-9">
                                    <select required name="idComprobante" [(ngModel)]="compras.idComprobante"
                                        class="form-control">
                                        <option value="" selected disabled>Seleccionar...</option>
                                        <option *ngFor="let item of comprobantes" [value]="item.idComprobante">{{
                                            item.nombre }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- <div>
                                <label for="compCompra">CompCompra</label>
                                <input type="text" class="form-control" name="compCompra"
                                    [(ngModel)]="compras.compCompra" placeholder="Ingrese el compCompra">
                            </div> -->

                            <div style="width: 80px;">
                                <label for="serie">Serie</label>
                                <input type="text" class="form-control" name="serie" [(ngModel)]="compras.serie"  placeholder="F001">
                            </div>

                            <div style="width: 100px;">
                                <label for="numero">Número</label>
                                <input type="text" class="form-control" name="numero" [(ngModel)]="compras.numero" placeholder="00000001">
                            </div>

                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-6">
                            <div>
                                <label for="fEmision">Fecha de Emisión</label>
                                <input type="date" class="form-control" name="fEmision" [(ngModel)]="compras.fEmision">
                            </div>

                            <div>
                                <label for="fVencimiento">Fecha de Vencimiento</label>
                                <input type="date" class="form-control" name="fVencimiento"
                                    [(ngModel)]="compras.fVencimiento">
                            </div>




                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-6">
                            <div>
                                <div>
                                    <label style="width: 300px;">Moneda</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select required name="idMoneda" [(ngModel)]="compras.idMoneda"
                                            class="form-control">
                                            <option value="" selected disabled>Seleccionar...</option>
                                            <option *ngFor="let item of moneda" [value]="item.idMoneda">{{
                                                item.descripcion }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group -row">
                                    <label style="width: 300px;">Estado de pago</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select required name="idEstadoPago" [(ngModel)]="compras.idEstadoPago"
                                            class="form-control">
                                            <option value="" selected disabled>Seleccionar...</option>
                                            <option *ngFor="let item of estadoPago" [value]="item.idEstadoPago">{{
                                                item.descripcion }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-6">
                            <div>

                                <label style="width: 300px;">Medios de pago</label>
                                <div class="col-lg-9 col-xl-9">
                                    <select required name="idMediosPago" [(ngModel)]="compras.idMediosPago"
                                        class="form-control">
                                        <option value="" selected disabled>Seleccionar...</option>
                                        <option *ngFor="let item of mediosPago" [value]="item.idMediosPago">{{
                                            item.descripcion }}
                                        </option>
                                    </select>
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="compRelacionado">CompRelacionado</label>
                                <input type="text" class="form-control" name="compRelacionado"
                                    [(ngModel)]="compras.compRelacionado" placeholder="Ingrese el compRelacionado">
                            </div>
                        </div>
                        

                    </div>

                </div>
            </div>

        </div>


    </div>
    <div class="tabla-busqueda">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <div style="display: flex;">
                    <!-- crear aqui el html para (idProducto, idEmpresa, Codigo, idCategoria, descripcion, idPresentacion, cUnitario, fProduccion, fVencimiento, alertaMinimo, alertaMaximo, VecesVendidas, facturar, idUsuario, FIngreso) -->

                    <div class="input-group input-group-merge">
                        <input type="text" class="form-control form-control-appended"
                            placeholder="Buscar por descripción" name="filtroConsulta" [(ngModel)]="filtroConsulta">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="buscarDescripcion()">
                                Buscar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="busqueda">

                    <!-- crear aqui el html usando bootstrap para una tabla de busqueda de productos (codigo, categoria, poducto, idPresentacion, cantidad, fproduccion, fvencimiento ,pUnitario,sucursal) -->
                    <div class="table-responsive" style="background: white;">
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Categoría</th>
                                    <th>Producto</th>
                                    <th>Presentación</th>
                                    <th>Cantidad</th>
                                    <th>F.Producción</th>
                                    <th>F.Vencimiento</th>
                                    <th>C.Unitario</th>
                                    <th>Sucursal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Add table rows here -->
                                <tr *ngFor="let item of stockSucursales; let idx = index">

                                    <th scope="row">{{item.producto.Codigo}}</th>
                                    <td>{{item.categoria.Descripcion}} </td>
                                    <td>{{item.producto.descripcion}} </td>
                                    <td>{{item.presentacion.codigo}}</td>
                                    <td>{{item.cantidad}}</td>
                                    <td>{{item.producto.fProduccion}} </td>
                                    <td>{{item.producto.fVencimiento}} </td>
                                    <td>{{item.producto.cUnitario}} </td>
                                    <td>{{item.sucursal.nombre}} </td>
                                    <td>
                                        <a style="cursor: pointer;" class="text-primary"
                                            (click)="seleccionar(idx)">[Add]</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="nuevo-producto">
        <!-- crear aqui el html para (idProducto, idEmpresa, Codigo, idCategoria, descripcion, idPresentacion, cUnitario, fProduccion, fVencimiento, alertaMinimo, alertaMaximo, VecesVendidas, facturar, idUsuario, FIngreso) -->
        <div class="card">
            <div class="card-body">

                <div class="row form-group">

                    <label>
                        <input type="checkbox" [(ngModel)]="nuevoProducto.useCorrelativo" name="useCorrelativo"
                            (change)="onCheckboxChange()"> Usar correlativo
                    </label>

                    <div class="col-sm-6 col-log-3 col-md-6">
                        <div>
                            <label for="Codigo">Código</label>
                            <input type="text" class="form-control" name="Codigo" [(ngModel)]="nuevoProducto.codigo">
                        </div>


                        <div>
                            <label style="width: 300px;">Categoría</label>
                            <div class="col-lg-9 col-xl-9">
                                <select required name="idCategoria" [(ngModel)]="nuevoProducto.idCategoria"
                                    (ngModelChange)="onSelectCategoria($event)" class="form-control">
                                    <option value="" selected disabled>Seleccionar...</option>
                                    <option *ngFor="let item of categoria" [value]="item.idCategoria">{{
                                        item.Descripcion }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="form-control" name="descripcion"
                                [(ngModel)]="nuevoProducto.descripcion">
                        </div>
                    </div>
                    <div class="col-sm-6 col-log-3 col-md-6">
                        <div>
                            <label style="width: 300px;">Presentación</label>
                            <div class="col-lg-9 col-xl-9">
                                <select required name="idPresentacion" [(ngModel)]="nuevoProducto.idPresentacion"
                                    (ngModelChange)="onSelectPresentacion($event)" class="form-control">
                                    <option value="" selected disabled>Seleccionar...</option>
                                    <option *ngFor="let item of presentacion" [value]="item.idPresentacion">{{
                                        item.Descripcion }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label for="cUnitario">Precio Unitario</label>
                            <input type="text" class="form-control" name="cUnitario"
                                [(ngModel)]="nuevoProducto.cUnitario">
                        </div>
                        <div>
                            <label for="cantidad">Cantidad</label>
                            <input type="text" class="form-control" name="cantidad"
                                [(ngModel)]="nuevoProducto.cantidad">
                        </div>
                    </div>
                    <div class="col-sm-6 col-log-3 col-md-6">
                        <div>
                            <label for="fProduccion">Fecha de Producción</label>
                            <input type="date" class="form-control" name="fProduccion"
                                [(ngModel)]="nuevoProducto.fProduccion">
                        </div>
                        <div>
                            <label for="fVencimiento">Fecha de Vencimiento</label>
                            <input type="date" class="form-control" name="fVencimiento"
                                [(ngModel)]="nuevoProducto.fVencimiento">
                        </div>
                    </div>
                    <div class="col-sm-6 col-log-3 col-md-6">
                        <div>
                            <label style="width: 300px;">Sucursal</label>
                            <div class="col-lg-9 col-xl-9">
                                <select required name="idSucursal" [(ngModel)]="nuevoProducto.idSucursal"
                                    (ngModelChange)="onSelectSucursal($event)" class="form-control">
                                    <option value="" selected disabled>Seleccionar...</option>
                                    <option *ngFor="let item of sucursales" [value]="item.idSucursal">{{
                                        item.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div style="margin-bottom: 20px;">
                            <label for="descripcion">Ubicación</label>
                            <input type="text" class="form-control" name="ubicacion"
                                [(ngModel)]="nuevoProducto.ubicacion">
                        </div>

                        <button type="button" class="btn btn-primary" (click)="agregarProductoNuevo()">Agregar</button>

                    </div>


                    


                </div>


            </div>

        </div>

    </div>

    <div class="tabla-detalle">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Categoría</th>
                                <th>Producto</th>
                                <th>Id Presentación</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Sub Total</th>
                                <th>Fecha de Producción</th>
                                <th>Fecha de Vencimiento</th>

                                <th>Sucursal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of detalleCompras; let idx = index">
                                <td>{{item.codigo}}</td>
                                <td>{{item.categoria.Descripcion}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.presentacion.Descripcion}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>{{item.cUnitario}} </td>
                                <td>{{item.subtotal}} </td>
                                <td>{{item.fProduccion}} </td>
                                <td>{{item.fVencimiento}} </td>

                                <td>{{item.sucursal.nombre}}</td>
                                <td>
                                    <a style="cursor: pointer;" class="text-danger"
                                        (click)="quitar(idx,item.subtotal)">[Delete]</a>
                                </td>
                            </tr>
                        </tbody>
                        <!-- <tfoot>
                            <tr>
                                <td colspan="5"><b>Total</b></td>
                                <td>{{compras.total}}</td>
                            </tr>
                        </tfoot> -->
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="totales">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-sm-6 col-lg-3 col-md-6">
                        <div>
                            <label for="igv">IGV</label>
                            <input type="number" class="form-control" name="igv" [(ngModel)]="compras.igv"
                                (change)="onInput()" placeholder="Ingrese el IGV">
                        </div>

                        <div>
                            <label for="exonerado">Exonerado</label>
                            <input type="number" class="form-control" name="exonerado" [(ngModel)]="compras.exonerado"
                                placeholder="Ingrese el exonerado">
                        </div>



                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-6">
                        <div>
                            <label for="gratuito">Gratuito</label>
                            <input type="number" class="form-control" name="gratuito" [(ngModel)]="compras.gratuito"
                                placeholder="Ingrese el gratuito">
                        </div>

                        <div>
                            <label for="otrosCargos">Otros Cargos</label>
                            <input type="number" class="form-control" name="otrosCargos"
                                [(ngModel)]="compras.otrosCargos" (change)="onInput()"
                                placeholder="Ingrese los otros cargos">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-6">
                        <div>
                            <label for="subTotal">SubTotal</label>
                            <input type="number" class="form-control" name="subTotal" [(ngModel)]="compras.subTotal"
                                placeholder="Ingrese el subTotal">
                        </div>
                        <div>
                            <label for="descuentos">Descuentos</label>
                            <input type="number" class="form-control" name="descuentos" [(ngModel)]="compras.descuentos"
                                (change)="onInput()" placeholder="Ingrese los descuentos">
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-3 col-md-6">
                        <div>
                            <div class="col-4">
                                <label for="validationCustom01" class="form-label"><b>Total a pagar: (*)</b> S/.
                                    {{compras.total}} </label>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>




    <button type="button" class="btn btn-primary" (click)="registrarCompras()">Registrar Compra</button>



</div>