.card-body{
    margin-left: 0px;
    padding-left: 0px;
}

.input-group{
    margin-top: 10px;
    width: 80%;
    padding-left: 0px;
}

.select-empresa{
    margin-bottom: 20px;
    margin-top: 5px;
}

h3{
    color: rgb(33, 109, 33);
}

h4{
    color: rgb(72, 76, 189);
}
h2{
    color: rgb(98, 99, 110);
}