.card-body{
    margin-left: 0px;
    padding-left: 0px;
}

.input-group{
    margin-top: 10px;
    width: 80%;
    padding-left: 0px;
}

.select-empresa{
    margin-bottom: 20px;
    margin-top: 5px;
}

h3{
    margin-top: 10px;
    color: rgb(54, 53, 53);
}

h5{
    color: #0d6efd;
}
h6{
    color: #0d6efd;
}
h2{
    color: rgb(98, 99, 110);
}