/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
.btn-primary{
    background-color: #e3672e;
    color: white;
    border:  #94847c 1px solid;
}

.btn-primary:hover{
    background-color: #9c9b9a;
    color: white;
    border:  #e3672e 1px solid;
}