<app-top-nav></app-top-nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 col-xl-11">
               
                <h4>Comprobante de compra</h4>

                <div class="card">
                    <div class="card-header">
                        Comprobante: {{compVenta.Serie_Numero}} <br>
                        Cliente: {{compVenta.Razon_Social}}
                    </div>
                    <div class="card-body">
                        <div>
                            <a class="btn btn-primary" (click)="resetCantEntrega()">Resetear Cantidad Entregada</a>
                        </div>
                        <h5 class="card-title">Detalle del comprobante</h5>


                        <form #miFormulario="ngForm" (ngSubmit)="guardarDatos(miFormulario.value)">
                            <table class="table table-dark">
                              <thead class="table-dark">
                                <tr>
                                  <th>Cantidad</th>
                                  <th>Código</th>
                                  <th>Descripción</th>
                                  <th>Presentación</th>
                                  <th>Precio de Venta</th>
                                  <th>CEntrega</th>
                                </tr>
                              </thead>
                              <tbody class="table-active">
                                <tr *ngFor="let item of detalleVenta">
                                  <td>{{item.Cantidad}}</td>
                                  <td>{{item.Codigo}}</td>
                                  <td>{{item.Descripcion}}</td>
                                  <td>{{item.Presentacion}}</td>
                                  <td>{{item.PVenta}}</td>
                                  <td>
                                    <ng-container *ngIf="item.Cantidad == item.CantEntregado">
                                      <input type="text" name="cantidadIngresar{{item.Id}}" [(ngModel)]="item.CantEntregado" style="width: 60px; text-align: center; color: blue; background: rgb(214, 158, 158);" required [max]="item.Cantidad" disabled>
                                    </ng-container>
                                    <ng-container *ngIf="item.Cantidad !== item.CantEntregado">
                                      <input type="text" name="cantidadIngresar{{item.Id}}" [(ngModel)]="item.CantEntregado" style="width: 60px; text-align: center; color: blue;" required [max]="item.Cantidad">
                                    </ng-container>
                                    
                                  </td>
                                  
                                </tr>
                              </tbody>
                            </table>
                          
                            <button type="submit" class="btn btn-success">Guardar</button>
                          </form>
                          

                        
                        </div>
                </div>


            </div>
        </div>
    </div>
</div>
