<app-top-nav></app-top-nav>
<div class="container">



    <form id="kt_form" #registroForm="ngForm" (ngSubmit)="registrar(registroForm)">


        <div class="cabecera d-flex flex-column flex-md-row">
            <div class=" card col-12 col-md-3">

                <div class="card-body" style="align-content: center;">

                    <div>
                        <label for="logo" class="form-label">Logo de la empresa</label>
                        <input type="file" class="form-control" name="logo" (change)="onLogoChange($event)">
                    </div>

                    <div *ngIf=imgSelect>
                        <label for="logoPreview" class="form-label">Vista previa del logo</label>
                        <hr>
                        <img [src]="imgSelect" class="img-fluid" style="width: 100%;">
                    </div>

                </div>


            </div>
            <div class="col-12 col-md-9">
                <div class="card" style="margin-bottom: 20px;">
                    <!-- <div class="card-header">
        
                        
                        <h4 class="card-header-title">
                            Editar datos de la empresa
                        </h4>
        
                    </div> -->

                    <div class="card-body">
                        <div>
                            <div class="form-group row" style="margin-bottom: 20px;">
                                <label class="col-xl-3 col-lg-3 col-form-label">Tipo de documento</label>
                                <div class="col-lg-9 col-xl-9">
                                    <select required name="idDocumento" [(ngModel)]="empresas.idDocumento"
                                        class="form-control">
                                        <option value="" selected disabled>Seleccionar documento...</option>
                                        <option *ngFor="let item of documento" [value]="item.idDocumento">{{ item.nombre
                                            }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div *ngIf="empresas.idDocumento == 6" class="input-group input-group-merge">
                                <input type="text" class="form-control form-control-appended"
                                    placeholder="ingrese el número de RUC" name="ruc" [(ngModel)]="empresas.ruc">


                            </div>
                            <div *ngIf="empresas.idDocumento == 1" class="input-group input-group-merge">
                                <input type="text" class="form-control form-control-appended"
                                    placeholder="ingrese el número de DNI" name="ruc" [(ngModel)]="empresas.ruc">

                            </div>
                            <div class="mb-3">
                                <label for="razon_Social" class="form-label">Razón Social</label>
                                <input type="text" class="form-control" name="razon_Social"
                                    [(ngModel)]="empresas.razon_Social" placeholder="Ingrese la razón social">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="correo" [(ngModel)]="empresas.correo"
                                    placeholder="Ingrese el email (opcional)">
                            </div>
                            <div class="mb-3">
                                <label for="celular" class="form-label">Teléfono</label>
                                <input type="tel" class="form-control" name="celular" [(ngModel)]="empresas.celular"
                                    placeholder="Ingrese el teléfono (opcional)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <ng-container *ngIf="empresas.idDocumento == 6">
            <!-- <div class="card" >

                <div class="card-body">
                    
                    <div class="mb-3">
                        <label for="rSocial" class="form-label">Razón Social</label>
                        <input type="text" class="form-control" name="rSocial" [(ngModel)]="empresas.rSocial"
                            placeholder="Ingrese la razón social">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="correo" [(ngModel)]="empresas.correo"
                            placeholder="Ingrese el email (opcional)">
                    </div>
                    <div class="mb-3">
                        <label for="celular" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" name="celular" [(ngModel)]="empresas.celular"
                            placeholder="Ingrese el teléfono (opcional)">
                    </div>

                </div>
            </div> -->

            <div class="card" style="margin-bottom: 20px; margin-top: 0px !important;">

                <div class="card-body">
                    <div class="mb-3">
                        <label for="nombreComercial" class="form-label">Nombre Comercial</label>
                        <input type="text" class="form-control" name="nombreComercial"
                            [(ngModel)]="empresas.nombreComercial" placeholder="Ingrese nombre comercial (opcional)">
                    </div>
                    <div class="mb-3">
                        <label for="alias" class="form-label">Alias</label>
                        <input type="text" class="form-control" name="alias" [(ngModel)]="empresas.alias"
                            placeholder="Crea un corto alias para tu negocio">
                    </div>
                    <div class="mb-3">
                        <label for="rubro" class="form-label">Giro del negocio</label>
                        <textarea type="text" class="form-control" name="rubro" [(ngModel)]="empresas.rubro"
                            placeholder="Descripcion del giro del negocio"></textarea>
                    </div>



                </div>

                <div style="margin-bottom: 20px; text-align: left; margin-left: 20px;">
                    <button *ngIf="!btn_registrar" type="submit" class="btn btn-success">Actualizar</button>

                    <button *ngIf="btn_registrar" type="button" class="btn btn-success font-weight-bolder px-9 py-4"
                        disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Actualizando...
                    </button>
                </div>
            </div>


            <!-- direccionEmpresas -->
            <!-- <div class="card">
                <div class="card-header">

                   
                    <h4 class="card-header-title">
                        Registrar dirección
                    </h4>

                </div>

                <div class="card-body">
                    <ng-container *ngIf="contBuscar == 0">
                        

                        <div class="col-sm-6 form-group">
                            <label for="ac-fn">Región <sup>*<sup></sup></sup></label>
                            <select id="sl-region" name="region" [(ngModel)]="direccionEmpresas.region"
                                class="form-control" (change)="select_region()">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="{{item.id}}" *ngFor="let item of regiones">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="ac-fn">Provincia <sup>*<sup></sup></sup></label>
                            <select id="sl-provincia" name="provincia" [(ngModel)]="direccionEmpresas.provincia"
                                class="form-control" disabled (change)="select_provincia()">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="{{item.id}}" *ngFor="let item of provincias">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="ac-fn">Distrito <sup>*<sup></sup></sup></label>
                            <select id="sl-distrito" name="distrito" [(ngModel)]="direccionEmpresas.distrito"
                                class="form-control" disabled (change)="select_distrito($event)">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="{{item.id}}" *ngFor="let item of distritos">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="ubigeo" class="form-label">Ubigeo</label>
                            <input type="text" class="form-control" name="ubigeo" [(ngModel)]="direccionEmpresas.ubigeo"
                                placeholder="Ingrese el ubigeo">
                        </div>
                    </ng-container>
                    <ng-container *ngIf="contBuscar > 0">
                        <h6> Consulta a sunat realizada</h6>

                        <div class="mb-3">
                            <label for="region" class="form-label">Región</label>
                            <input type="text" class="form-control" name="region" [(ngModel)]="direccionEmpresas.region"
                                placeholder="Ingrese el region">
                        </div>

                        <div class="mb-3">
                            <label for="provincia" class="form-label">Provincia</label>
                            <input type="text" class="form-control" name="provincia"
                                [(ngModel)]="direccionEmpresas.provincia" placeholder="Ingrese el provincia">
                        </div>

                        <div class="mb-3">
                            <label for="distrito" class="form-label">Distrito</label>
                            <input type="text" class="form-control" name="distrito"
                                [(ngModel)]="direccionEmpresas.distrito" placeholder="Ingrese el distrito">
                        </div>

                        <div class="mb-3">
                            <label for="ubigeo" class="form-label">Ubigeo</label>
                            <input type="text" class="form-control" name="ubigeo" [(ngModel)]="direccionEmpresas.ubigeo"
                                placeholder="Ingrese el ubigeo">
                        </div>
                    </ng-container>

                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" name="direccion"
                            [(ngModel)]="direccionEmpresas.direccion" placeholder="Ingrese la dirección">
                    </div>
                    <div class="mb-3">
                        <label for="referencia" class="form-label">Referencia</label>
                        <input type="text" class="form-control" name="referencia"
                            [(ngModel)]="direccionEmpresas.referencia" placeholder="Ingrese la referencia (opcional)">
                    </div>


                </div>
            </div> -->
        </ng-container>

        <!-- <ng-container *ngIf="empresas.idDocumento == 1">
            <div class="card" style="margin-bottom: 20px;">

                <div class="card-body">
                    <div class="mb-3">
                        <label for="rSocial" class="form-label">Razón Social</label>
                        <input type="text" class="form-control" name="rSocial" [(ngModel)]="empresas.rSocial"
                            placeholder="Ingrese la razón social">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="correo" [(ngModel)]="empresas.correo"
                            placeholder="Ingrese el email (opcional)">
                    </div>
                    <div class="mb-3">
                        <label for="celular" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" name="celular" [(ngModel)]="empresas.celular"
                            placeholder="Ingrese el teléfono (opcional)">
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label style="color: #742f0f;">
                    <input type="checkbox" name="mostrarDireccion" [(ngModel)]="mostrarDireccion"
                        (change)="onCheckboxChange()"> Registrar dirección
                </label>
            </div>

            <ng-container *ngIf="mostrarDireccion">
                <div class="card">
                    <div class="card-header">

                        
                        <h4 class="card-header-title">
                            Registrar dirección
                        </h4>

                    </div>

                    <div class="card-body">
                        <ng-container>
                            

                            <div class="col-sm-6 form-group">
                                <label for="ac-fn">Región (opcional)</label>
                                <select id="sl-region" name="region" [(ngModel)]="direccionEmpresas.region"
                                    class="form-control" (change)="select_region()">
                                    <option value="" selected disabled>Seleccionar</option>
                                    <option value="{{item.id}}" *ngFor="let item of regiones">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="ac-fn">Provincia (opcional)</label>
                                <select id="sl-provincia" name="provincia" [(ngModel)]="direccionEmpresas.provincia"
                                    class="form-control" disabled (change)="select_provincia()">
                                    <option value="" selected disabled>Seleccionar</option>
                                    <option value="{{item.id}}" *ngFor="let item of provincias">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="ac-fn">Distrito (opcional)</label>
                                <select id="sl-distrito" name="distrito" [(ngModel)]="direccionEmpresas.distrito"
                                    class="form-control" disabled (change)="select_distrito($event)">
                                    <option value="" selected disabled>Seleccionar</option>
                                    <option value="{{item.id}}" *ngFor="let item of distritos">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ubigeo" class="form-label">Ubigeo</label>
                                <input type="text" class="form-control" name="ubigeo"
                                    [(ngModel)]="direccionEmpresas.ubigeo" placeholder="Ingrese el ubigeo (opcional)">
                            </div>
                        </ng-container>

                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección</label>
                            <input type="text" class="form-control" name="direccion"
                                [(ngModel)]="direccionEmpresas.direccion" placeholder="Ingrese la dirección (opcional)">
                        </div>
                        <div class="mb-3">
                            <label for="referencia" class="form-label">Referencia</label>
                            <input type="text" class="form-control" name="referencia"
                                [(ngModel)]="direccionEmpresas.referencia"
                                placeholder="Ingrese la referencia (opcional)">
                        </div>


                    </div>
                </div>
            </ng-container>


        </ng-container> -->






    </form>


    <div class="card">
        <div class="card-header">


            <h4 class="card-header-title">
                Direcciones de la empresa
            </h4>

        </div>

        <div class=" flex-column flex-md-row">
            <div class="card-body" *ngFor="let item of direccionEmpresas_const">
                <div style="width: 60%;">
                    <p> Ubigeo: {{item.ubigeo}} </p>
                    <p> Región: {{item.region}} </p>
                    <p> Distrito: {{item.distrito}} </p>
                    <p> Provincia: {{item.provincia}} </p>
                    <p> Dirección: {{item.direccion}} </p>
                    <p> Referencia: {{item.referencia}} </p>
                    <p class="badge bg-success" *ngIf="item.principal"> Condición: Principal </p>
                    <p class="badge bg-warning" *ngIf="!item.principal"> Condición: Convertir en principal </p>

                </div>

                <div style="width: 30%;">
                    <!-- <button class="btn-warning" style="border-radius: 5px;"> Modificar dirección</button> -->
                    <button class="btn-warning" style="border-radius: 5px;" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#editar-' + item.idDireccionEmpresa"
                        (click)="editarDireccion(item.idDireccionEmpresa)">Modificar dirección</button>

                    <!-- Modal -->
                    <div class="modal fade" [attr.id]="'editar-' + item.idDireccionEmpresa" tabindex="-1" role="dialog"
                        aria-labelledby="editarDireccionModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editarDireccionModalLabel">Editar dirección: 
                                        {{item.direccion}} </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Add your form for editing the address here -->
                                    <ng-container *ngIf="direccionEmpresas.region !== undefined">
                                        <h6> Consulta a sunat realizada</h6>
                                       
                                        <div class="mb-3">
                                            <label for="region" class="form-label">Región</label>
                                            <input type="text" class="form-control" name="region" [(ngModel)]="direccionEmpresas.region">
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label for="provincia" class="form-label">Provincia</label>
                                            <input type="text" class="form-control" name="provincia" [(ngModel)]="direccionEmpresas.provincia">
                                        </div>
                    
                                        <div class="mb-3">
                                            <label for="distrito" class="form-label">Distrito</label>
                                            <input type="text" class="form-control" name="distrito" [(ngModel)]="direccionEmpresas.distrito">
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label for="ubigeo" class="form-label">Ubigeo</label>
                                            <input type="text" class="form-control" name="ubigeo" [(ngModel)]="direccionEmpresas.ubigeo"
                                                placeholder="Ingrese el ubigeo">
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="direccionEmpresas.region === undefined">


                                        <div class="col-sm-6 form-group">
                                            <label for="ac-fn">Región (opcional)</label>
                                            <select id="sl-region" name="region" [(ngModel)]="direccionEmpresas.region"
                                                class="form-control" (change)="select_region()">
                                                <option value="" selected disabled>Seleccionar</option>
                                                <option value="{{item.id}}" *ngFor="let item of regiones">{{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="ac-fn">Provincia (opcional)</label>
                                            <select id="sl-provincia" name="provincia"
                                                [(ngModel)]="direccionEmpresas.provincia" class="form-control" disabled
                                                (change)="select_provincia()">
                                                <option value="" selected disabled>Seleccionar</option>
                                                <option value="{{item.id}}" *ngFor="let item of provincias">
                                                    {{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="ac-fn">Distrito (opcional)</label>
                                            <select id="sl-distrito" name="distrito"
                                                [(ngModel)]="direccionEmpresas.distrito" class="form-control" disabled
                                                (change)="select_distrito($event)">
                                                <option value="" selected disabled>Seleccionar</option>
                                                <option value="{{item.id}}" *ngFor="let item of distritos">{{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="ubigeo" class="form-label">Ubigeo</label>
                                            <input type="text" class="form-control" name="ubigeo"
                                                [(ngModel)]="direccionEmpresas.ubigeo"
                                                placeholder="Ingrese el ubigeo (opcional)">
                                        </div>
                                    </ng-container>

                                    <div class="mb-3">
                                        <label for="direccion" class="form-label">Dirección</label>
                                        <input type="text" class="form-control" name="direccion"
                                            [(ngModel)]="direccionEmpresas.direccion"
                                            placeholder="Ingrese la dirección (opcional)">
                                    </div>
                                    <div class="mb-3">
                                        <label for="referencia" class="form-label">Referencia</label>
                                        <textarea type="text" class="form-control" name="referencia"
                                            [(ngModel)]="direccionEmpresas.referencia"
                                            placeholder="Ingrese la referencia (opcional)"></textarea>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>


    </div>
</div>