<app-top-nav></app-top-nav>
<div class="container">
  <div class="card">
    <div class="card-header">


      <!-- Title -->
      <h4 class="card-header-title">
        Mostrando todos los registros
      </h4>

      <button class="btn btn-primary" [routerLink]="['/empresa/create']" routerLinkActive="active"
        style="text-align: right; margin-bottom: 20px;">Crear nueva empresa</button>

    </div>

    <ng-container *ngIf="!empresas">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            <div class="alert-text">
              <p>No tienes empresas registradas</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="empresas">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Ruc</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Est.Sunat</th>
                <th scope="col">Estado </th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empresas of empresas">
                <td>{{empresas.ruc}} </td>
                <td>{{ empresas.razon_Social }}</td>
                <td>{{ empresas.celular }}</td>
                <td>
                    <span class="badge bg-success" *ngIf="empresas.estSunat === 'ACTIVO'">Activo </span>
                    <span class="badge bg-warning" *ngIf="empresas.estSunat === 'BAJA DE OFICIO'">Baja de oficio</span>
                    <span class="badge bg-warning" *ngIf="empresas.estSunat === 'BAJA PROVISIONAL'">Baja provisional</span>
                    <span class="badge bg-warning" *ngIf="empresas.estSunat === 'BAJA DEFINITIVA'">Baja definitiva</span>
                    <span class="badge bg-warning" *ngIf="empresas.estSunat === 'SUSPENSION TEMPORAL'">Suspensión temporal</span>
                    
                    <span class="badge bg-danger" *ngIf="empresas.estSunat === null">Sin Estado</span>
                </td>
                <td>
                  <span class="badge bg-success" *ngIf="empresas.estado">Activo</span>
                  <span class="badge bg-danger" *ngIf="!empresas.estado">Desactivado</span>
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Opciones
                    </button>
                    <ul class="dropdown-menu">
                      <a style="cursor: pointer;" class="dropdown-item" *ngIf="empresas.estado" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#delete-'+empresas.idEmpresa">
                        <i class="icon-1x text-dark-50 flaticon2-cross"></i> &nbsp; Desactivar
                      </a>
                      <a style="cursor: pointer;" class="dropdown-item" *ngIf="!empresas.estado" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#delete-'+empresas.idEmpresa">
                        <i class="icon-1x text-dark-50 flaticon2-check-mark"></i> &nbsp; Activar
                      </a>
                      <a style="cursor: pointer;" class="dropdown-item" (click)="seleccionar(empresas.idEmpresa)"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#editar-'+empresas.idEmpresa">
                        <i class="icon-1x text-dark-50 flaticon2-check-mark"></i> &nbsp; Editar
                      </a>
                    </ul>
                  </div>

                  <div class="modal fade" id="delete-{{empresas.idEmpresa}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Ventana de cambio de estado de la empresas:
                            {{empresas.nombre}}
                          </h5>

                        </div>
                        <div class="modal-body">
                          <p>Está seguro que desea cambiar el estado de la empresas?.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-warning font-weight-bold"
                            data-bs-dismiss="modal">Cerrar</button>
                          <button *ngIf="!load_estado" type="button" class="btn btn-danger font-weight-bold"
                            (click)="cambiarEstado(empresas?.idEmpresa, empresas?.estado)" data-bs-dismiss="modal">Sí,
                            cambiar</button>

                          <button *ngIf="load_estado" class="btn btn-danger" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Cambiando...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="editar-{{empresas.idEmpresa}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Ventana para editar la empresas:
                            {{empresas.nombre}}
                          </h5>

                        </div>
                        <div class="modal-body">
                          <p>Está seguro que desea editar la empresas?.</p>
                          <div>
                            <div class="col-12">
                              <div>
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre"
                                  [(ngModel)]="prod_Modificar.nombre">
                              </div>

                              <div>
                                <label for="descripcion">Descripción</label>
                                <input type="text" class="form-control" name="descripcion"
                                  [(ngModel)]="prod_Modificar.descripcion">
                              </div>
                            </div>

                            <div class="col-12">
                              <div>
                                <label for="contacto">Contato</label>
                                <input type="text" class="form-control" name="contacto"
                                  [(ngModel)]="prod_Modificar.contacto">
                              </div>

                              <div>
                                <label for="paginaWeb">Pagina Web</label>
                                <input type="text" class="form-control" name="paginaWeb"
                                  [(ngModel)]="prod_Modificar.paginaWeb">
                              </div>
                            </div>
                          </div>


                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-warning font-weight-bold"
                            data-bs-dismiss="modal">Cerrar</button>
                          <button *ngIf="!load_estado" type="button" class="btn btn-primary font-weight-bold"
                            (click)="editarempresas(prod_Modificar.idEmpresa)" data-bs-dismiss="modal">Sí, guardar
                            cambios</button>

                          <button *ngIf="load_estado" class="btn btn-danger" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Modificando...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>