<app-top-nav></app-top-nav>
<div class="container" style="background-color: white; margin-top: 20px; margin-bottom: 20px;">
  <div class="card">
    <div class="card-header">

      <!-- Title -->
      <h4 class="card-header-title">
        Mostrando todas tus compras
      </h4>

      <button class="btn btn-primary" [routerLink]="['/compras/create']" routerLinkActive="active"
        style="text-align: right; margin-bottom: 20px;">crear nueva compra</button>
    </div>



    <div class="card-body">
      <div class="input-group input-group-merge">
        <input type="text" class="form-control form-control-appended" placeholder="Buscador general" name="filtro"
          [(ngModel)]="filtro">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="filtrar()">
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive" style="height:500px;">
      <table class="table table-striped table-hover">
        <thead class="table-dark" style="position: sticky; top: 0; z-index: 100;">
          <tr>
            <th>Comprobante</th>
            <th>F.Emisión</th>
            <th>Proveedor</th>
            <th>Estado</th>
            <th>Total</th>
            <th>Acción</th>

          </tr>
        </thead>
        <tbody class="font-size-base">
          <tr *ngFor="let item of compras | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>

              <span>
                {{item.compCompra}}
              </span>
            </td>

            <td>
              <span>{{item.fEmision}}</span>
            </td>
            <td>
              <span>{{item.rSocial}}</span>
              <br>
              <span class="badge bg-success" *ngIf="item.condicion === 'ACTIVO'">Activo</span>
              <span class="badge bg-danger" *ngIf="item.condicion != 'ACTIVO'">No Activo</span>
            </td>
            <td>
              <!-- <span>{{item.descripcion}}</span> -->
              <span class="badge bg-success" *ngIf="item.descripcion === 'Pagado'"> Pagado</span>
              <span class="badge bg-warning" *ngIf="item.descripcion === 'Pendiente'"> Pendiente</span>

            </td>
            <td style="width: 60px; text-align: right;">
              {{item.total | number:'1.2-2'}}
            </td>
            <td>


              <!-- Example single danger button -->
              <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false"
                  style="background-color: #e3672e !important; border-color: #bcbcc4;">
                  Opciones
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                  <a style="cursor: pointer;" class="dropdown-item" *ngIf="item.compCompra" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#consulta-'+item.compCompra" (click)="consultaCompCompra(item.idcompra)">
                    <i></i> &nbsp; Ver detalles
                  </a>
                  <a style="cursor: pointer;" class="dropdown-item" *ngIf="item.compCompra"
                    [routerLink]="['/compras',item.idcompra]">
                    <i></i> &nbsp; Editar
                  </a>
                  <a style="cursor: pointer;" class="dropdown-item" *ngIf="item.idcompra" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#delete-'+item.idcompra">
                    <i class="icon-1x text-dark-50 flaticon2-cross"></i> &nbsp; Eliminar
                  </a>
                  <!-- <a class="dropdown-item" [routerLink]="['/colaborador',item.compCompra]">
                    <i class="icon-1x text-dark-50 flaticon-edit"></i> &nbsp; Editar
                  </a> -->
                </ul>
              </div>

              <div class="modal fade modal-fullscreen" id="consulta-{{item.compCompra}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Detalles de la factura: {{item.compCompra}}
                        {{item.rSocial}} </h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Aqui se muestra lista de productos de la compra.</p>
                      <ng-container *ngIf="loadDetalleCompras">
                        <div class="card card-custom card-shadowless rounded-top-0" style="margin-top: 30px;">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <!-- Custom size border spinner -->
                                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                        <span class="visually-hidden"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                      <ng-container *ngIf = "!loadDetalleCompras">
                        <div class="table-responsive">
                          <table class="table table table-striped">
                            <thead class="table table-dark" style="position: sticky; top: 0; z-index: 100;">
                              <tr>
                                <th>Código</th>
                                <th>Categoría</th>
                                <th>Producto</th>
                                <th>Present.</th>
                                <th>Cantidad</th>
                                <th>P.Unitario</th>
                                <th>Sub Total</th>
                                <th>F.Producción</th>
                                <th>F.Vencimiento</th>
  
                                <th>Sucursal</th>
  
                              </tr>
                            </thead>
                            <tbody>
  
                              <tr *ngFor="let item of detalleCompras; let idx = index">
                                <td>{{item.codigo}}</td>
                                <td>{{item.categoria.Descripcion}}</td>
                                <td>{{item.descripcion}}</td>
                                <td style="width: 60px; text-align: center;">{{item.presentacion.Descripcion}}</td>
                                <td style="width: 60px; text-align: right;">{{item.cantidad}}</td>
                                <td style="width: 60px; text-align: right;">{{item.cUnitario | number:'1.2-2'}}
                                </td>
                                <td style="width: 60px; text-align: right;">{{item.subtotal | number:'1.2-2'}} </td>
                                <td style="width: 60px; text-align: center;">{{item.fProduccion}} </td>
                                <td style="width: 60px; text-align: center;">{{item.fVencimiento}} </td>
  
                                <td style="width: 60px; text-align: center;">{{item.sucursal.nombre}}</td>
  
                              </tr>
                            </tbody>
  
                          </table>
                        </div>
                      </ng-container>
                      

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-warning font-weight-bold"
                        data-bs-dismiss="modal">Cerrar</button>

                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="delete-{{item.idcompra}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ventana de eliminación: {{item.idcompra}} </h5>

                    </div>
                    <div class="modal-body">
                      <p>Está seguro que desea esta compra?.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-warning font-weight-bold"
                        data-bs-dismiss="modal">Cerrar</button>
                      <button *ngIf="!load_estado" type="button" class="btn btn-danger font-weight-bold"
                        (click)="set_eliminar(item.idcompra)">Sí, Eliminar</button>

                      <button *ngIf="load_estado" class="btn btn-danger" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Cambiando...
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>
  <ngb-pagination *ngIf="compras.length >= 1" [(page)]="page" [pageSize]="pageSize" [maxSize]="10" [rotate]="true"
    [boundaryLinks]="true" [collectionSize]="compras.length">
  </ngb-pagination>

</div>